<div style="overflow: hidden; position: fixed">
  <div className="nav-wrapper" style="margin-top: -15px">
    <nav>
      <div className="nav-wrapper">
        <ul class="hmenu" style="float: right;" >
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </div>
    </nav>
  </div>

  <img
    class="responsive-img splash-image"
    src="https://s3.amazonaws.com/book-expedition-production/pexels-photo-47426.jpeg"
  />

  <div class="container splash-container">
    <div class="row">
      <div class="col s2"></div>
      <div class="col s8"><h2 class="center-align">Book Expedition</h2></div>
      <div class="col s2"></div>
    </div>
    <div class="row">
      <div class="col s2"></div>
      <div class="col s8">
        <h5 class="center-align">
          <a href="https://github.com/jeffreyfriedman">github.com/jeffreyfriedman</a>
        </h5>
      </div>
      <div class="col s2"></div>
    </div>
    <div class="row center-align">
      <p>Demo Account:</p>
      <p>Email: john@doe.com, Password: password</p>
  </div>
  <div class="row">
    <div class="col s1"></div>
    <div class="col s10">
      <blockquote>
        Book Expedition serves the avid reader who is interested in travel. Start by viewing the dashboard, which summarizes recently added destinations, books, and notes.  See the relationship between your destinations and books represented in a radial dendrogram image.  <br>Then proceed to My Destinations, where you can add destinations and see the world map immediately reflect your entries. Below the world map, click into your destination card to see related books and take notes on that destination.  The My Books and My Notes pages will reflect those additions.
    </blockquote>
  </div>
  <div class="col s1"></div>
  </div>
</div>
