<div className="nav-wrapper">
  <nav>
    <div className="nav-wrapper">
      <ul class="hmenu" style="float: right;" >
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </nav>
</div>

<h1>Book Expedition Splash Page</h1>
