<% if user_signed_in? %>
  <span>
  <%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
</span>
<% else %>
  <span>
  <%= link_to('Sign In', new_user_session_path)  %>
</span>
<% end %>
